<% include top %>
<div class="container">
  <% include head  %>
<section id="content"> 
  <div class="zerogrid"> 
     <div class="row block"> 
	      <%  include classifics %>
     </div> 
  </div> 
</section>
  <%# include footer %> 
</div>
<%# include bottom %>
<% include layer %>
