<% if(viewmessages.view=='classific') { %>
  <!--blog index-->
  <div class="main-content col04"> 
      <div class="row">
          <div class="col04 offleft">   
             <article> 
                  <div class="headingphoto"> 
		             <img src="/static/images/photo.jpg" width="150" height="150"> 
		             <h1 class="h1title">
		             	Tim lei
		             </h1> 
		          </div>
             </article> 
	      </div>
	      <div class="col04 offleft sidebar">   
             <section> 
				  <div class="heading">
				     Categories
				  </div> 
				  <div class="content"> 
				     <ul class="list">
				          
				              <li><a href="">Mobile Templates</a></li> 
				          
				              <li><a href="">JAVA Templates</a></li> 
				          
				              <li><a href="">PHP Templates</a></li> 
				          
				              <li><a href="">Jquery Templates</a></li> 
				           
				     </ul> 
				  </div> 
		     </section> 
	      </div>
      </div>
  </div>
  <div class="main-content col11"> 
    <div class="row">
        <ul class="list01">
           <li>
               <a href="" class="title">title</a>
               <p class="pc">开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计</p>
               <p class="pd">2015-12-29</p>
           </li>
           <li>
               <a href="" class="title">title</a>
               <p class="pc">开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计</p>
               <p class="pd">2015-12-29</p>
           </li>
           <li>
               <a href="" class="title">title</a>
               <p class="pc">开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计</p>
               <p class="pd">2015-12-29</p>
           </li>
           <li class="noborder">
               <a href="" class="title">title</a>
               <p class="pc">开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计</p>
               <p class="pd">2015-12-29</p>
           </li>
        </ul>
    </div>
  </div>
  <!--article detail-->
  <div class="main-content maindetail">
     <h1 class="h1title">title</h1>
     <span class="dates">2015-12-29</span>
     <p>开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计开发中有些按日期记录的记录需要各种维度的统计，按天，按月，按年，按小时，。。分组统计，还有些需要对字段去重统计</p>
     <ul class="newhot">
         <li class="title">最新热帖</li>
         <li><a href="">一个不知的地球生命</a></li>
         <li><a href="">发中有些按日期记录的记录需</a></li>
         <li><a href="">一个不知的地球生命</a></li>
     </ul>
  </div>
  <!--img list-->
  <div class="main-content allImgList">
    <span class="dates listdate">2015-12-29</span>
    <ul class="allimgslist clearfix">
        <li>
          <a href="">
            <img src="/static/images/thumb1.jpg" alt=""  width="150px" height="100"/>
            <span>title<span>
          </a>
        </li> 
        <li>
          <a href="">
            <img src="/static/images/thumb1.jpg" alt=""  width="150px" height="100"/>
            <span>title<span>
          </a>
        </li>
    </ul>
    <span class="dates listdate">2015-12-30</span>
    <ul class="allimgslist clearfix">
        <li>
          <a href="">
            <img src="/static/images/thumb1.jpg" alt=""  width="150px" height="100"/>
            <span>title<span>
          </a>
        </li> 
        <li>
          <a href="">
            <img src="/static/images/thumb1.jpg" alt=""  width="150px" height="100"/>
            <span>title<span>
          </a>
        </li>
    </ul>
  </div>
  <!--page-->
  <div class="pages">
    <a href="" class="pre">上一页</a>
    <a href="" class="num">1</a>
    <a href="" class="num">2</a>
    <a href="" class="num">3</a>
    <a href="" class="cur">4</a>
    <a href="" class="next">下一页</a>
  </div>
<% } %>