<div class="windowlayers">
  <div class="wrap">
     <div class="title">
         <span class="mtitle">Login</span>
         <a href="" class="closed">&times</a>
     </div>
     <div class="content">
         <!--login-->
         <!--<form action="" method="post">
              <div class="inputdiv">
                <span>User：</span>
                <input type="text" name="user" class="textput"/>
              </div>  
              <div class="inputdiv">
                 <span>Password：</span>
                 <input type="password" name="password" class="textput" />
              </div>
              <div class="btndiv">
                 <input type="submit" name="submit" value="login" class="btn"/> 
              </div>
         </form>-->
         <!--register-->
         <form action="" method="post">
              <div class="inputdiv">
                <span>User：</span>
                <input type="text" name="user" class="textput" value="用户名"/>
              </div>
              <div class="inputdiv">
                <span>Email：</span>
                <input type="text" name="email" class="textput" value="邮箱"/>
              </div>
              <div class="inputdiv">
                 <span>gender：</span>
                 <input type="radio" name="gender" />&nbsp;男 &nbsp;&nbsp;
                 <input type="radio" name="gender" />&nbsp;女
              </div>
              <div class="inputdiv">
                <span>Adress：</span>
                <input type="text" name="adress" class="textput" value="地址"/>
              </div>  
              <div class="inputdiv">
                 <span>Password：</span>
                 <input type="password" name="password" class="textput" />
              </div>
              <div class="inputdiv">
                 <span>Confirm Pw：</span>
                 <input type="password" name="confirmpw" class="textput" />
              </div>
              <div class="btndiv">
                 <input type="submit" name="submit" value="register" class="btn"/> 
              </div>
         </form>
         <p class="toptions"><a href="">Login >></a></p>
     </div>
  </div>
</div>
<div class="marke"></div>