<link rel="stylesheet" href="/static/css/admin.css" />
<div class="bodys">
   <p class="ltitle">welcome 进入 用户管理登陆</p>
   <form action="/admin/login" method="post">
      <div class="adminlogin">
      	  <div class="al">
      	  	 <label>用户名：</label>
      	  	 <input type="text" name="name"/>
      	  </div>
      	  <div class="al">
      	  	 <label>密码：</label>
      	  	 <input type="password" name="password" value=""/>
      	  </div>
      	  <div class="al">
      	  	 <input type="submit" value="Login" name="adlogin"/>
      	  </div>
      </div>	
   </form>
</div> 