<div class="feature">	
	<div class="rslides_container">
		<ul class="rslides" id="slider">
			<li><img src="/static/images/1.jpg"/></li>
			<li><img src="images/2.jpg"/></li>
			<li><img src="images/3.jpg"/></li>
			<li><img src="images/4.jpg"/></li>
		</ul>
	</div>
</div>